@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    I would really love<br />
    To tell you my address<br />
    <abbr title="Phone">P:</abbr>
    123 456 789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@chriswbeaver.com">Support@chriswbeaver.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@chriswbeaver.com">Marketing@chriswbeaver.com</a>
</address>