@{
    ViewBag.Title = "Chris's Magical Music Store and Reviews";
}

<div class="jumbotron">
    <h1>Chris's Magical Music Store and Reviews</h1>
    <p class="lead">Hey Everyone, Welcome to my music store. Where everyone has fun but the reviews don't matter :D</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reviews</h2>
        <p>
            Let's just say, this is going to be a high usage site.  Used by the dozens and dozens of the Chris's fans.  So there will be
            do many reviews here you will not know what to do.  At the current time of typing there is excatly 1000000 reviews already.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Albums</h2>
        <p>All your favourite Alumbs are here too.  For just $9.99, yes $9.99 you can get access to 0 albums from all of your favourite Artists</p>
    </div>
    <div class="col-md-4">
        <h2>Artists</h2>
        <p>
            If there is someone here you heard of well then... Good for you, because belive me when I say... If you have made it this far reading the content
            you are in for a treat. 
        </p>
    </div>
</div>