@using NonFactors.Mvc.Grid
@model IEnumerable<MvcMusicStudio.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Reviews</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="mvc-grid">
@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Album.Title);
        columns.Add(model => model.Contents);
        columns.Add(model => model.ReviewerEmail);
    })
    .Filterable()
    .Sortable()
    .Css("table-condensed table-striped")
    .Pageable(pager =>
    {
        pager.InitialPage = 1;
        pager.RowsPerPage = 5;
    })
    )
</div>
@section scripts {
    @Scripts.Render("~/bundles/MvcGrid");

    <script>
        $('.mvc-grid').mvcgrid();
    </script>
}
@section styles {
    @Styles.Render("~/Content/MvcGrid")
}